*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: 100%;
  // Ensure 1rem always refers to 16px
  font-family: var(--typography--default-font);
  font-size: 16px;
  text-size-adjust: 100%;

  // Auto Scale Texts above the biggest breakpoint
  @include respond-to(lg) {
    font-size: calc(16px + 0.1vw);
  }
}

body {
  color: var(--color--default-text);
  background: var(--color--default-background);
}

img {
  max-width: 100%;

  // No more weird whitespace below images
  display: block;

  // Distinguish Alt-Texts from surrounding text if image cannot be loaded
  font-style: italic;

  // See: https://www.zachleat.com/web/fluid-images/
  &[width] {
    // Defer to max-width
    width: auto;
  }

  &[width][height] {
    // Preserve aspect ratio
    height: auto;
  }
}
