.#{$objects--prefix}grid {
  --o-grid--spacing: var(--layout-spacing--default);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: 0;
  margin: calc(var(--o-grid--spacing) / 2 * -1);
  padding: 0;

  & > * {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: calc(var(--o-grid--spacing) / 2);
  }

  @each $spacing-name, $spacing-value in $layout-spacing--variants {
    &[data-spacing='#{$spacing-name}'] {
      --o-grid--spacing: var(--layout-spacing--#{$spacing-name});
    }
  }

  &[data-justify='center'] {
    justify-content: center;
  }

  &[data-justify='right'] {
    justify-content: flex-end;
  }

  &[data-align='middle'] {
    align-items: center;
  }

  &[data-align='bottom'] {
    align-items: flex-end;
  }

  &[data-align='stretch'] {
    align-items: stretch;
  }

  &[data-direction='reverse'] {
    flex-direction: row-reverse;
  }
}
