.o-pack {
  --o-pack--spacing: var(--layout-spacing--default);
  --o-pack--alignment: top;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: var(--o-pack--spacing);

  & > * {
    display: table-cell;
    vertical-align: var(--o-pack--alignment);
  }

  @each $spacing-name, $spacing-value in $layout-spacing--variants {
    &[data-spacing='#{$spacing-name}'] {
      --o-pack--spacing: var(--layout-spacing--#{$spacing-name});
    }
  }

  &[data-layout='auto'] {
    table-layout: auto;
  }

  &[data-align='middle'] {
    --o-pack--alignment: middle;
  }

  &[data-align='bottom'] {
    --o-pack--alignment: bottom;
  }

  &[data-direction='reversed'] {
    direction: rtl;

    & > * {
      direction: ltr;
    }
  }
}
