.#{$objects--prefix}reel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: auto;

  & > * {
    flex: 0 0 auto;
  }

  & > img {
    flex-basis: auto;
    width: auto;
    height: 100%;
  }

  & > * + * {
    margin-left: 1rem;
  }
}
