<!DOCTYPE html>
<html lang="en" class="bg-tan">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>und CSS Framework</title>

    <link rel="stylesheet" href="/css/index.css" />
    <script src="/assets/vendor/prism.js"></script>
  </head>
  <body class="o-wrapper u-py-lg">
    <header class="o-grid u-mb-lg">
      <h1 class="u-text-base u-m-flush u-w-3/12">
        <a href="/">und CSS</a>
      </h1>
      <nav class="o-cluster u-w-9/12">
        <ul>
          <li>
            <a href="/">
              Introduction
            </a>
          </li>
          <li>
            <a href="/tokens">
              Tokens
            </a>
          </li>
          <li>
            <a href="/objects">
              Objects
            </a>
          </li>
          <li>
            <a href="/utilities">
              Utilities
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {{ content }}
  </body>
</html>
