// NAMESPACING
$objects--prefix: 'o-' !default;
$utilities--prefix: 'u-' !default;

// COLORS
$colors--default-background: #ffffff !default;
$colors--default-text: #000000 !default;

$colors--named-colors: (
  accent: #0000ff,
  muted: #f1f1f1,
  black: #000000,
  white: #ffffff,
) !default;

// RESPONSIVE
$responsive--biggest-screen: 72em !default;

$responsive--breakpoints: (
  "sm": "36em",
  "md": "48em",
  "lg": $responsive--biggest-screen
) !default;

// SPACING AND LAYOUT
$layout-spacing--default: 1rem !default;

$layout-spacing--variants: (
  flush: 0,
  tiny: $layout-spacing--default * 0.25,
  small: $layout-spacing--default * 0.5,
  large: $layout-spacing--default * 2,
  huge: $layout-spacing--default * 4,
) !default;

$layout--spacing-shorthands: (
  null: null,
  t: "-top",
  r: "-right",
  b: "-bottom",
  l: "-left",
  x: "-right" "-left",
  y: "-top" "-bottom",
) !default;

$layout--widths-max-width: 1400px !default;

$layout--widths: (
  "1\\/4": '25%',
  "1\\/2": '50%',
  "3\\/4": '75%',
  "full": '100%',
  "screen": '100vw',
) !default;

// TYPOGRAHPY
$typography--sizes: (
  'sm': 0.8rem,
  'base': 1rem,
  'md': 1.25rem,
  'lg': 1.6rem,
  'xl': 2rem,
  'xxl': 3rem,
) !default;

$typography--leading: (
  'none': 1,
  'tight': 1.35,
  'normal': 1.5,
  'loose': 1.7,
) !default;

$typography--tracking: (
  'tight': -0.01em,
  'normal': 0,
  'wide': 0.01em,
  'extra-wide': 0.075em,
) !default;

$typography--default-font: "Helvetica Neue, Helvetica, Arial, sans-serif" !default;

$typography--fonts: (
  'sans': $typography--default-font,
) !default;

$typography--weights: (
  'light': '300',
  'regular': '400',
  'bold': '700'
) !default;

$typography--measures: (
  narrow: 10ch,
  wide: 60ch,
) !default;

// UTILITY GENERATOR
$utilities--generate: true !default;

$utilities--config: (
  'bg': (
    'items': $colors--named-colors,
    'variable': '--color--',
    'property': 'background',
  ),
  'c': (
    'items': $colors--named-colors,
    'variable': '--color--',
    'property': 'color',
  ),
  'box': (
    'items': (
      'flex': 'flex',
      'block': 'block',
      'hide': 'none',
      'show': 'inherit'
    ),
    'responsive': true,
    'property': 'display'
  ),
  'opacity': (
    'items': (
      '0': 0,
      '50': 0.5,
      '100': 1,
    ),
    'property': 'opacity',
  ),
  'flex': (
    'items': (
      'center': 'center',
      'top': 'flex-start',
      'bottom': 'flex-end',
    ),
    'responsive': true,
    'property': 'align-items',
  ),
  'justify': (
    'items': (
      'center': 'center',
      'around': 'space-around',
      'between': 'space-between',
    ),
    'responsive': true,
    'property': 'justify-content',
  ),
  'align': (
    'items': (
      'left': 'left',
      'center': 'center',
      'right': 'right',
    ),
    'property': 'text-align',
  ),
  'transform': (
    'items': (
      'uppercase': 'uppercase',
      'lowercase': 'lowercase',
      'capitalize': 'capitalize',
    ),
    'property': 'text-transform',
  ),
  'm': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin'
  ),
  'mx': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-right' 'margin-left',
  ),
  'my': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-top' 'margin-bottom',
  ),
  'mt': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-top',
  ),
  'mr': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-right',
  ),
  'mb': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-bottom',
  ),
  'ml': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-left',
  ),
  'p': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding'
  ),
  'px': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-right' 'padding-left',
  ),
  'py': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-top' 'padding-bottom',
  ),
  'pt': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-top',
  ),
  'pr': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-right',
  ),
  'pb': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-bottom',
  ),
  'pl': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-left',
  ),
  'w': (
    'items': $layout--widths,
    'responsive': true,
    'property': 'width',
  ),
  'push': (
    'items': $layout--widths,
    'responsive': true,
    'property': 'margin-left',
  ),
  'measure': (
    'items': $typography--measures,
    'variable': '--typography-measure--',
    'property': 'max-width',
  ),
  'text': (
    'items': $typography--sizes,
    'variable': '--typography-size--',
    'responsive': true,
    'property': 'font-size',
  ),
  'leading': (
    'items': $typography--leading,
    'variable': '--typography-leading--',
    'property': 'line-height',
  ),
  'tracking': (
    'items': $typography--tracking,
    'variable': '--typography-tracking--',
    'property': 'letter-spacing',
  ),
  'font': (
    'items': $typography--fonts,
    'variable': '--typography-font--',
    'property': 'font-family',
  ),
  'weight': (
    'items': $typography--weights,
    'property': 'font-weight',
  ),
  'order': (
    'items': (
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
    ),
    'responsive': true,
    'property': 'order',
  ),
  'col-span': (
    'items': (
      '1': 'span 1 / span 1',
      '2': 'span 2 / span 2',
      '3': 'span 3 / span 3',
      '4': 'span 4 / span 4',
      '5': 'span 5 / span 5',
      '6': 'span 6 / span 6',
    ),
    'responsive': true,
    'property': 'grid-column',
  ),
  'col-start': (
    'items': (
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
      '6': 6,
    ),
    'responsive': true,
    'property': 'grid-column-start',
  ),
  'z': (
    'items': (
      '0':    0,
      '10':   10,
      '20':   20,
      '30':   30,
      '40':   40,
      '50':   50,
      'auto': auto,
    ),
    'property': 'z-index'
  ),
) !default;
