// NAMESPACING
$objects--prefix: 'o-' !default;
$utilities--prefix: 'u-' !default;

// COLORS
$colors--default-background: #ffffff !default;
$colors--default-text: #000000 !default;

$colors--named-colors: (
  accent: #0000ff,
  muted: #f1f1f1,
  black: #000000,
  white: #ffffff,
) !default;

// RESPONSIVE
$responsive--biggest-screen: 1400px !default;

$responsive--breakpoints: (
  sm: 512px,
  md: 920px,
  lg: $responsive--biggest-screen
) !default;

// SPACING AND LAYOUT
$layout-spacing--default: 1rem !default;
$layout-spacing--ratio: 1.5 !default;

$layout-spacing--variants: (
  flush: 0,
  xxxxs: $layout-spacing--default / pow($layout-spacing--ratio, 5),
  xxxs: $layout-spacing--default / pow($layout-spacing--ratio, 4),
  xxs: $layout-spacing--default / pow($layout-spacing--ratio, 3),
  xs: $layout-spacing--default / pow($layout-spacing--ratio, 2),
  sm: $layout-spacing--default / $layout-spacing--ratio,
  md: $layout-spacing--default,
  lg: $layout-spacing--default * $layout-spacing--ratio,
  xl: $layout-spacing--default * pow($layout-spacing--ratio, 2),
  xxl: $layout-spacing--default * pow($layout-spacing--ratio, 3),
  xxxl: $layout-spacing--default * pow($layout-spacing--ratio, 4),
  xxxxl: $layout-spacing--default * pow($layout-spacing--ratio, 5),
) !default;

$layout--spacing-shorthands: (
  null: null,
  t: '-top',
  r: '-right',
  b: '-bottom',
  l: '-left',
  x: '-right' '-left',
  y: '-top' '-bottom',
) !default;

$layout--widths-max-width: 1400px !default;

$layout--widths: (
  '1\\/12': percentage(1 / 12),
  '2\\/12': percentage(2 / 12),
  '3\\/12': percentage(3 / 12),
  '4\\/12': percentage(4 / 12),
  '5\\/12': percentage(5 / 12),
  '6\\/12': percentage(6 / 12),
  '7\\/12': percentage(7 / 12),
  '8\\/12': percentage(8 / 12),
  '9\\/12': percentage(9 / 12),
  '10\\/12': percentage(10 / 12),
  '11\\/12': percentage(11 / 12),
  '12\\/12': percentage(12 / 12),
) !default;

// TYPOGRAHPY
$typography--base-size: 1rem !default;

$typography--ratio: 1.2 !default;

$typography--sizes: (
  xs: $typography--base-size / $typography--ratio / $typography--ratio,
  sm: $typography--base-size / $typography--ratio,
  md: $typography--base-size,
  lg: $typography--base-size * pow($typography--ratio, 2),
  xl: $typography--base-size * pow($typography--ratio, 3),
  xxl: $typography--base-size * pow($typography--ratio, 4),
  xxxl: $typography--base-size * pow($typography--ratio, 5),
  xxxxl: $typography--base-size * pow($typography--ratio, 6),
) !default;

$typography--leading: (
  'none': 1,
  'tight': 1.35,
  'normal': 1.5,
  'loose': 1.7,
) !default;

$typography--tracking: (
  'tight': -0.01em,
  'normal': 0,
  'wide': 0.01em,
  'extra-wide': 0.075em,
) !default;

$typography--default-font: "Helvetica Neue, Helvetica, Arial, sans-serif" !default;

$typography--fonts: (
  'sans': $typography--default-font,
) !default;

$typography--weights: (
  'light': '300',
  'regular': '400',
  'bold': '700'
) !default;

$typography--measures: (
  narrow: 30ch,
  medium: 60ch,
  wide: 90ch,
) !default;

// UTILITY GENERATOR
$utilities--generate: true !default;

$utilities--config: (
  'bg': (
    'items': $colors--named-colors,
    'variable': '--color--',
    'property': 'background',
  ),
  'c': (
    'items': $colors--named-colors,
    'variable': '--color--',
    'property': 'color',
  ),
  'box': (
    'items': (
      'flex': 'flex',
      'block': 'block',
      'hide': 'none',
      'show': 'inherit'
    ),
    'responsive': true,
    'property': 'display'
  ),
  'opacity': (
    'items': (
      '0': 0,
      '50': 0.5,
      '100': 1,
    ),
    'property': 'opacity',
  ),
  'flex': (
    'items': (
      'center': 'center',
      'top': 'flex-start',
      'bottom': 'flex-end',
    ),
    'responsive': true,
    'property': 'align-items',
  ),
  'justify': (
    'items': (
      'center': 'center',
      'around': 'space-around',
      'between': 'space-between',
    ),
    'responsive': true,
    'property': 'justify-content',
  ),
  'align': (
    'items': (
      'left': 'left',
      'center': 'center',
      'right': 'right',
    ),
    'property': 'text-align',
  ),
  'transform': (
    'items': (
      'uppercase': 'uppercase',
      'lowercase': 'lowercase',
      'capitalize': 'capitalize',
    ),
    'property': 'text-transform',
  ),
  'm': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin'
  ),
  'mx': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-right' 'margin-left',
  ),
  'my': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-top' 'margin-bottom',
  ),
  'mt': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-top',
  ),
  'mr': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-right',
  ),
  'mb': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-bottom',
  ),
  'ml': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-left',
  ),
  'p': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding'
  ),
  'px': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-right' 'padding-left',
  ),
  'py': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-top' 'padding-bottom',
  ),
  'pt': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-top',
  ),
  'pr': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-right',
  ),
  'pb': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-bottom',
  ),
  'pl': (
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-left',
  ),
  'w': (
    'items': $layout--widths,
    'responsive': true,
    'property': 'width',
  ),
  'push': (
    'items': $layout--widths,
    'responsive': true,
    'property': 'margin-left',
  ),
  'measure': (
    'items': $typography--measures,
    'variable': '--typography-measure--',
    'property': 'max-width',
  ),
  'text': (
    'items': $typography--sizes,
    'variable': '--typography-size--',
    'responsive': true,
    'property': 'font-size',
  ),
  'leading': (
    'items': $typography--leading,
    'variable': '--typography-leading--',
    'property': 'line-height',
  ),
  'tracking': (
    'items': $typography--tracking,
    'variable': '--typography-tracking--',
    'property': 'letter-spacing',
  ),
  'font': (
    'items': $typography--fonts,
    'variable': '--typography-font--',
    'property': 'font-family',
  ),
  'weight': (
    'items': $typography--weights,
    'property': 'font-weight',
  ),
  'order': (
    'items': (
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
    ),
    'responsive': true,
    'property': 'order',
  ),
  'col-span': (
    'items': (
      '1': 'span 1 / span 1',
      '2': 'span 2 / span 2',
      '3': 'span 3 / span 3',
      '4': 'span 4 / span 4',
      '5': 'span 5 / span 5',
      '6': 'span 6 / span 6',
    ),
    'responsive': true,
    'property': 'grid-column',
  ),
  'col-start': (
    'items': (
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
      '6': 6,
    ),
    'responsive': true,
    'property': 'grid-column-start',
  ),
  'z': (
    'items': (
      '0':    0,
      '10':   10,
      '20':   20,
      '30':   30,
      '40':   40,
      '50':   50,
      'auto': auto,
    ),
    'property': 'z-index'
  ),
) !default;
