// NAMESPACING
@use "sass:math";

$objects--prefix: 'o-' !default;
$utilities--prefix: 'u-' !default;

// COLORS
$colors--default-background: #ffffff !default;
$colors--default-text: #000000 !default;

$colors--named-colors: (
  'accent': #0000ff,
  'muted': #f1f1f1,
  'black': #000000,
  'white': #ffffff,
) !default;

// RESPONSIVE
$responsive--smallest-screen: 320px !default;
$responsive--small-screen: 400px !default;
$responsive--medium-screen: 920px !default;
$responsive--biggest-screen: 1400px !default;

$responsive--breakpoints: (
  sm: '(min-width: #{$responsive--small-screen}) and (max-width: #{$responsive--medium-screen - 1px})',
  md: '(min-width: #{$responsive--medium-screen}) and (max-width: #{$responsive--biggest-screen - 1px})',
  lg: '(min-width: #{$responsive--biggest-screen})',
) !default;

// TYPOGRAHPY
$typography--base-size-min: 1rem !default;
$typography--base-size-max: 1.5rem !default;

$typography--ratio-min: 1.2 !default;
$typography--ratio-max: 1.3 !default;

$typography--sizes: (
  xs: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, -2)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, -2)),
  ),
  sm: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, -1)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, -1)),
  ),
  md: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, 1)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, 1)),
  ),
  lg: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, 2)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, 2)),
  ),
  xl: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, 3)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, 3)),
  ),
  xxl: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, 4)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, 4)),
  ),
  xxxl: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, 5)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, 5)),
  ),
  xxxxl: fluid(
    scaleStep($typography--base-size-min, pow($typography--ratio-min, 6)),
    scaleStep($typography--base-size-max, pow($typography--ratio-max, 6)),
  ),
) !default;

$typography--leading: (
  'none': 1,
  'tight': 1.35,
  'normal': 1.5,
  'loose': 1.7,
) !default;

$typography--tracking: (
  'tight': -0.01em,
  'normal': 0,
  'wide': 0.01em,
  'extra-wide': 0.075em,
) !default;

$typography--default-font: "Helvetica Neue, Helvetica, Arial, sans-serif" !default;

$typography--fonts: (
  'sans': $typography--default-font,
) !default;

$typography--weights: (
  'light': '300',
  'regular': '400',
  'bold': '700'
) !default;

$typography--measures: (
  narrow: 30ch,
  medium: 60ch,
  wide: 90ch,
) !default;

// SPACING AND LAYOUT
$layout-spacing--default-min: 1rem !default;
$layout-spacing--default-max: 1.5rem !default;

$layout-spacing--default: fluid($layout-spacing--default-min, $layout-spacing--default-max) !default;
$layout-spacing--ratio: 1.5 !default;

$layout-spacing--variants: (
  flush: 0,
  xxxxs: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, -5)),
  xxxs: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, -4)),
  xxs: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, -3)),
  xs: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, -2)), sm: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, -1)),
  md: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, 1),
  lg: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, 1)),
  xl: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, 2)),
  xxl: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, 3)),
  xxxl: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, 4)),
  xxxxl: fluidScaleStep($layout-spacing--default-min, $layout-spacing--default-max, pow($layout-spacing--ratio, 5)),
) !default;

$layout--spacing-shorthands: (
  null: null,
  t: '-top',
  r: '-right',
  b: '-bottom',
  l: '-left',
  x: '-right' '-left',
  y: '-top' '-bottom',
) !default;

$layout--widths-max-width: 1400px !default;

$layout--widths: (
  '1\\/12': math.percentage(math.div(1, 12)),
  '2\\/12': math.percentage(math.div(2, 12)),
  '3\\/12': math.percentage(math.div(3, 12)),
  '4\\/12': math.percentage(math.div(4, 12)),
  '5\\/12': math.percentage(math.div(5, 12)),
  '6\\/12': math.percentage(math.div(6, 12)),
  '7\\/12': math.percentage(math.div(7, 12)),
  '8\\/12': math.percentage(math.div(8, 12)),
  '9\\/12': math.percentage(math.div(9, 12)),
  '10\\/12': math.percentage(math.div(10, 12)),
  '11\\/12': math.percentage(math.div(11, 12)),
  '12\\/12': math.percentage(math.div(12, 12)),
) !default;

// INCLUDE CRUDE RESET
$globals--print-reset: true !default;

// UTILITY GENERATOR
$utilities--generate: true !default;
$utilities--important: true !default;

$utilities--config: (
  'bg-': (
    'name': 'Background',
    'items': $colors--named-colors,
    'variable': '--color--',
    'property': 'background',
  ),
  'c-': (
    'name': 'Color',
    'items': $colors--named-colors,
    'variable': '--color--',
    'property': 'color',
  ),
  'd': (
    'name': 'Display',
    'items': (
      'f': 'flex',
      'b': 'block',
      'n': 'none',
      'i': 'inline',
      'ib': 'inline-block',
    ),
    'responsive': true,
    'property': 'display'
  ),
  'o': (
    'name': 'Opacity',
    'items': (
      '0': 0,
      '25': 0.25,
      '50': 0.5,
      '75': 0.75,
      '100': 1,
    ),
    'property': 'opacity',
  ),
  'ai-': (
    'name': 'Flex Align',
    'items': (
      'center': 'center',
      'top': 'flex-start',
      'bottom': 'flex-end',
      'baseline': 'baseline',
      'stretch': 'stretch',
    ),
    'responsive': true,
    'property': 'align-items',
  ),
  'j-': (
    'name': 'Flex Justify',
    'items': (
      'left': 'flex-start',
      'right': 'flex-end',
      'center': 'center',
      'around': 'space-around',
      'between': 'space-between',
    ),
    'responsive': true,
    'property': 'justify-content',
  ),
  'ta-': (
    'name': 'Text Align',
    'items': (
      'left': 'left',
      'center': 'center',
      'right': 'right',
    ),
    'property': 'text-align',
  ),
  'tt-': (
    'name': 'Text Transform',
    'items': (
      'uppercase': 'uppercase',
      'lowercase': 'lowercase',
      'capitalize': 'capitalize',
    ),
    'property': 'text-transform',
  ),
  'td-': (
    'name': 'Text Decoration',
    'items': (
      'underline': 'underline',
      'none': 'none',
    ),
    'property': 'text-decoration',
  ),
  'ws-': (
    'name': 'Text Wrapping',
    'items': (
      'wrap': 'normal',
      'nowrap': 'nowrap',
    ),
    'property': 'white-space',
  ),
  'm-': (
    'name': 'Margin all sides',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin'
  ),
  'mx-': (
    'name': 'Margin horizontal',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-right' 'margin-left',
  ),
  'my-': (
    'name': 'Margin vertical',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-top' 'margin-bottom',
  ),
  'mt-': (
    'name': 'Margin top',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-top',
  ),
  'mr-': (
    'name': 'Margin right',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-right',
  ),
  'mb-': (
    'name': 'Margin bottom',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-bottom',
  ),
  'ml-': (
    'name': 'Margin left',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'margin-left',
  ),
  'p-': (
    'name': 'Padding all sides',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding'
  ),
  'px-': (
    'name': 'Padding horizontal',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-right' 'padding-left',
  ),
  'py-': (
    'name': 'Padding vertical',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-top' 'padding-bottom',
  ),
  'pt-': (
    'name': 'Padding top',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-top',
  ),
  'pr-': (
    'name': 'Padding right',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-right',
  ),
  'pb-': (
    'name': 'Padding bottom',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-bottom',
  ),
  'pl-': (
    'name': 'Padding left',
    'items': $layout-spacing--variants,
    'responsive': true,
    'variable': '--layout-spacing--',
    'property': 'padding-left',
  ),
  'w-': (
    'name': 'Grid widths',
    'items': $layout--widths,
    'responsive': true,
    'property': 'width',
  ),
  'push-': (
    'name': 'Grid offsets',
    'items': $layout--widths,
    'responsive': true,
    'property': 'margin-left',
  ),
  'measure-': (
    'name': 'Measure',
    'items': $typography--measures,
    'variable': '--typography-measure--',
    'property': 'max-width',
  ),
  'text-': (
    'name': 'Text Size',
    'items': $typography--sizes,
    'variable': '--typography-size--',
    'responsive': true,
    'property': 'font-size',
  ),
  'lh-': (
    'name': 'Text line-height',
    'items': $typography--leading,
    'variable': '--typography-leading--',
    'property': 'line-height',
  ),
  'ls-': (
    'name': 'Text letter spacing',
    'items': $typography--tracking,
    'variable': '--typography-tracking--',
    'property': 'letter-spacing',
  ),
  'ff-': (
    'name': 'Text font family',
    'items': $typography--fonts,
    'variable': '--typography-font--',
    'property': 'font-family',
  ),
  'fw-': (
    'name': 'Text font weight',
    'items': $typography--weights,
    'property': 'font-weight',
  ),
  'order': (
    'name': 'Flex Order',
    'items': (
      'n1': -1,
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
    ),
    'responsive': true,
    'property': 'order',
  ),
  'z': (
    'name': 'Z Index',
    'items': (
      '0':    0,
      '10':   10,
      '20':   20,
      '30':   30,
      '40':   40,
      '50':   50,
      'auto': auto,
    ),
    'property': 'z-index'
  ),
) !default;

// DOC COMMENTS
$generate-doc-comments: false !default;
