$attributeAddon: '';

@if $utilities--important == true {
  $attributeAddon: ' !important';
}

@mixin visually-hidden {
  clip: rect(0 0 0 0)#{$attributeAddon};
  clip-path: inset(50%)#{$attributeAddon};
  overflow: hidden#{$attributeAddon};
  position: absolute#{$attributeAddon};
  width: 1px#{$attributeAddon};
  height: 1px#{$attributeAddon};
  margin: -1px#{$attributeAddon};
  border: 0#{$attributeAddon};
  padding: 0#{$attributeAddon};
  white-space: nowrap#{$attributeAddon};
}
